[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
UserSettings/
.DS_Store
Thumbs.db
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.suo
*.tmp
*.pidb
*.booproj
*.svd
.idea/
.vscode/
*.unitypackage
*.apk
*.aab
*.app
*.exe
*.pdb
*.mdb
*.opendb
*.VC.db
*.stacktrace
*.log
